.form-container{
  width: 500px;
  height: 650px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  border: 1px solid #95A0A7;
  box-sizing: border-box;
  border-radius: 8px;
}

.form-title{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: rgba(42, 65, 79, 1);
  /* margin: 0 auto; */

}

.input-group{
  margin-bottom: 20px;
}

.input-group label{
  display: block;
  margin: 5px;
}

.input-group input {
  width: 415px;
  height: 45px;
  border: 1px solid #95A0A7;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 24px;
  padding-left: 7px;
}

.form-submit{
  width: 415px;
  height: 50px;
  background-color: rgba(255, 153, 0, 0.3);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.form-link{
  color: #FF9900;
  text-decoration: none;
}

.login-google-btn{
  width: 415px;
  height: 50px;
  background-color: white;
  border: 1px solid rgba(149, 160, 167, 1);
  border-radius: 8px;
  margin-top: 10px;
  
}

.line{
  width: 145px;
}
.hr-line{
  display: flex;
  align-items: center;

}